* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.navbar a {
  font-size: 25px;
  font-weight: 500;
  margin-left: 15px;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: purple;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  font-family: "Times New Roman", Times, serif;
}

.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 50px;
  font-weight: 600;
  color: beige;
  padding-bottom: 40px;
}
.home-content h1 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 40px;
}

.home-content p {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 5px;
}
.home-git a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid blueviolet;
  border-radius: 50%;
}
.home-git a:hover {
  background-color: magenta;
}

.about {
  position: relative;
  width: 100%;
  justify-content: right;
  height: 100vh;
  background-image: url(img/bg-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 80px 0;
  font-family: "Times New Roman", Times, serif;
}

.about-content {
  max-width: 600;
}
.about-content h1 {
  font-size: 70px;
  font-weight: 900;
  color: beige;
}
.about-content h3 {
  font-size: 30px;
}
.about-content p {
  font-size: 25px;
}
